<p-dialog header="ADD TASK" [(visible)]="display" modal="modal" width="900" [responsive]="true">

  <div class="myPopup">
   <form [formGroup]='patientTaskForm' (ngSubmit)='onPatientTaskFormSubmit()'>

    <div class="row">
      <div class="col">
         <p class="label">Source of Task</p>
         <select name="source" class="mySelect" formControlName='sourceOfTask' (click)="optionChange()">
           <option *ngFor="let sourceTaskOption of sourceTaskOptions" value="{{sourceTaskOption.value}}">
             {{sourceTaskOption.name}}
           </option>
         </select>
      </div>

      <div class="col">
        <p class="label">{{rxOrderTitle}} Number</p>
        <select name="orders" class="mySelect" formControlName='orders' placeholder="Please select source">
          <option class="errMsg" *ngFor="let RxorOrderOption of RxorOrderOptions" value="{{RxorOrderOption.value}}">
            {{RxorOrderOption.name}}
          </option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="col">
         <p class="label">Reason</p>
         <select name="reason" class="mySelect" formControlName='reason'>
           <option *ngFor="let reasonOption of reasonOptions" value="{{reasonOption.value}}">
             {{reasonOption.name}}
           </option>
         </select>
      </div>

    <div class="small">
      <div>
        <p class="label">Follow up date and time</p>
         <p-calendar formControlName="dateTime" [showIcon]="true" placeholder="DD/MM/YYYY" showTime="true" hourFormat="24"></p-calendar>
      </div>
   </div>
   <div class="small">
      <div class="margin">
        <p-checkbox class="taskCheckBox" formControlName="priority" binary="true" label="Priority"></p-checkbox>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="large">
        <p class="label">Comments</p>
         <textarea name="name" class="mySelect" formControlName='comments' rows="2"></textarea>
      </div>
    </div>
  </form>
  </div>



        <p-footer>
            <button type="button" pButton icon="fa-close" iconPos="right" (click)="display=false" label="Cancel"></button>
            <button type="submit" pButton icon="fa-check" iconPos="right"(click)="onPatientTaskFormSubmit()" label="Submit"></button>
        </p-footer>
</p-dialog>

<button type="button" (click)="showDialog()" pButton label="Create task"></button>
