*{
  box-sizing: border-box;
}

 .row:after {
   content: "";
   display: block;
   clear: both;
}
 .col {
       float: left;
       width: 40%;
 }
.small{float: left;
       width: 30%;
 }
.large{
       float: left;
       width: 85%;
}

.margin{padding:30px 0 0 80px}

.mySelect{
    display: block;
    width:80%;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1pt solid #646464;
}
.myPanel{width: 10px;}

.label{
  margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #646464;
}


/* -------------primeng styling with ViewEncapsulation------------------- */



body .ui-chkbox .ui-chkbox-icon {
    display: block;
    margin-top: 3px;
    font-size: 24px;;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active{
 background-color: white;
 color: steelblue;
 border: 1px solid black; 
}
body .ui-chkbox .ui-chkbox-box{
  width: 2em;
  height: 2em;
  border: 1px solid black;
}
body .ui-calendar .ui-calendar-button {
    border-radius: 0;

}
body .ui-calendar.ui-calendar-w-btn input{
  border-radius: 0;
  border: 1pt solid #646464;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 35.65626px;
  margin-right: 2px;
}

body .ui-calendar .ui-calendar-button {
  width: 2.5em
}  
body .ui-dialog {
    padding: 0 20px;
}
body .ui-dialog .ui-dialog-titlebar {
    border-bottom: 1px solid black !important;
    font-family: arial bold;
    color: #003348; 
    padding: 20px;    
    border-bottom: 1px solid #c7c7c7;
}
body .ui-dialog .ui-dialog-content {
    padding: 20px;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  background-color: #e9e9e9;
  text-align: center;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon span{
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding: 5px;
  color: #646464;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 20px;
  position: relative;
  top: 20px;
}
body .ui-dialog-footer{
  padding-top: 0;
  border: 0;
}