
<p-dialog id="taskDlog" 
          header="ADD TASK"
          [(visible)]="createTaskDisplay"
          modal="modal" 
          width="980" 
          [responsive]="true" 
          (onHide)="onTaskCancel()"
          [closable]="false">
   <form [formGroup]='task' (ngSubmit)='ontaskSubmit()'>
<div class="row">
      <div class="col-md-4">
         <label id="taskCompntntLabel">Source of Task</label>
        <p-dropdown id="taskDropDwn" (onChange)="rxIdorOrderIdChange(task.value.sourceOfTask.value)" [options]="sourceTaskOptions" formControlName="sourceOfTask" [style]="{'width':'100%'}" optionLabel="name" ></p-dropdown>
      </div>

      <div class="col-md-4">
        <label id="taskCompntntLabel">{{rxOrderTitle}} Number</label>
        <p-dropdown id="taskDropDwn" [options]="RxorOrderOptions" formControlName="rxOrOrders" [style]="{'width':'100%'}" optionLabel="name"></p-dropdown>
      </div>
</div>

    <div class="row">
      <div class="col-md-4">
         <label id="taskCompntntLabel">Reason</label>
          <p-dropdown id="taskDropDwn" [options]="reasonOptions" formControlName="reason" [style]="{'width':'100%'}" optionLabel="name"></p-dropdown>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
          <label id="taskCompntntLabel">Follow up date</label>
             <p-calendar [minDate]="createTaskminDate" id="taskClndr" formControlName="date" [showIcon]="true" placeholder="DD/MM/YYYY" [style]="{'width':'100%'}" [utc]="true"></p-calendar>
          </div>
          <div class="col-md-6">
          <label id="taskCompntntLabel">Follow up time</label>
          <p-calendar  id="taskTime" formControlName="time" [timeOnly]="true" placeholder="HH:MM" [style]="{'width':'100%'}" ></p-calendar>
          </div>
        </div>
     </div>
    </div>

    
    <div class="row">
      <div class="col-md-8">
        <label id="taskCompntntLabel">Comments</label>
         <textarea name="name" id="taskCompntntSelect" formControlName='comments' rows="2"></textarea>
      </div>
    </div>
  </form>



        <p-footer>
            <button type="button" pButton icon="fa-close" iconPos="right" (click)="onTaskCancel()" label="Cancel"></button>
            <button type="submit" pButton icon="fa-check" iconPos="right" (click)="ontaskSubmit()" label="Submit"></button>
        </p-footer>
</p-dialog>

<p-growl [(value)]="errorMessage"></p-growl>

child: {{createTaskDisplay}}